
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.otf')  format('truetype');
}

body{
  
  width: 100%;
  background-image: url(../img/backg.jpg);
  background-size: cover;
  background-position: center;
  background-color: #f8f9fa;
  padding-top: 110px;
}
h4 {
  color: #23405f; /* Blue color */
  font-weight: bold; /* Bold font weight */
}
h1{
  color: #007bff;
}
.product {
    align-items: center;
    width: 100%;
    border: 1px solid #777676;
    padding: 20px;
    margin-bottom: 20px;
  }
  .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .product img {
    max-width: 100%; 
    height: 150px;

  }
  .container h1{
    font-size: 36px;
    text-align: center;
  }
  #addItem{
    background: rgb(113, 179, 203);

  }
  .more_btn {
    /*background: #f38122;*/
    background: rgb(113, 179, 203);
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 13px 40px;
    display: inline-block;
    margin: 40px 0 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 3px 3px 1px #602c199c;
    transition: 0.5s;
    animation-delay: 1s;
    animation-duration: 1s;
  }
  